<% if params[:action] != "needs_walked" %>

    <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="<%= dogs_path %>">All Dogs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="<%= needs_walked_path %>">Dogs Needing Walked</a>
            </li>     
    </ul>

<% else %>

    <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="<%= dogs_path %>">All Dogs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="<%= needs_walked_path %>">Dogs Needing Walked</a>
            </li>     
    </ul>

<% end %>

