<div class="card-header" align="center">Dogs New</div><br>   
<div class="column">
    <div class="card" style="width: 18rem;" >
    <div align="left">
    <%= render 'form'%>
    </div>
    </div>

    
  </div>
