<div class="card-header" align="center">Update Walks</div><br>   
<div class="column">
    <div class="card" style="width: 18rem;">
    <div align="left">

    <%= render 'walk_form' %>
    
    </div>
    </div>    
</div>